# Data exploration

This notebook serves as a preliminary exploration into the dataset so that a good network architecture can be found.

In [6]:
import numpy as np
import pandas as pd
import glob

In [28]:
##Read in the data
book_rating = pd.DataFrame()
for file in glob.glob("../data/raw/book*.csv"):
    df = pd.read_csv(file)
    # discard empty
    if book_rating.empty:
        book_rating = df
    else:
        df = pd.concat([book_rating, df], ignore_index=True)


        
user_rating_temp = pd.DataFrame()
for file in glob.glob("../data/raw/user_rating*.csv"):
    df = pd.read_csv(file)
    if user_rating_temp.empty:
        user_rating_temp = df
    else:
        df = pd.concat([user_rating_temp, df], ignore_index=True)

In [29]:
user_rating_temp.head()

   ID                                               Name           Rating
0   1  Agile Web Development with Rails: A Pragmatic ...   it was amazing
1   1  The Restaurant at the End of the Universe (Hit...   it was amazing
2   1                                         Siddhartha   it was amazing
3   1  The Clock of the Long Now: Time and Responsibi...  really liked it
4   1            Ready Player One (Ready Player One, #1)  really liked it

In [30]:
book_map = user_rating_temp[['Name']]

In [31]:
#Do not run this more than once
book_map = user_rating_temp[['Name']]
book_map.drop_duplicates(subset=['Name'],keep='first',inplace=True)
book_map['Book_Id']=book_map.index.values
user_rating_temp = pd.merge(user_rating_temp,book_map, on='Name', how='left')
user_rating = user_rating_temp[user_rating_temp['Name']!='Rating'] ##Dropping users who have not rated any books
user_rating.head()

C:\Users\Main1\AppData\Local\Temp\ipykernel_2460\3713481600.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book_map.drop_duplicates(subset=['Name'],keep='first',inplace=True)
C:\Users\Main1\AppData\Local\Temp\ipykernel_2460\3713481600.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book_map['Book_Id']=book_map.index.values

,ID,Name,Rating,Book_Id
0,1,Agile Web Development with Rails: A Pragmatic ...,it was amazing,0
1,1,The Restaurant at the End of the Universe (Hit...,it was amazing,1
2,1,Siddhartha,it was amazing,2
3,1,The Clock of the Long Now: Time and Responsibi...,really liked it,3
4,1,"Ready Player One (Ready Player One, #1)",really liked it,4